.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  /* 4 cols */
  gap: 30px; 
  justify-items: center;
  align-items: center;
}

.grid-item {
  margin: 15px; /* Adjust the margin for grid items */
}

.circle {
  border: 1px solid #ccc; /* Just for visual separation, you can customize this */
  padding: 10px;
  text-align: center;
}

.circle img {
  max-width: 100%;
  max-height: 100%;
}